*{padding: 0;margin: 0;}
html,body{height: 100%;}

body
{
    background-color: #131313;
    min-width: 300px;
}

nav a.icon-button
{
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 1.7rem;

    border-radius: 30px;

    height: 40px;
    width: 40px;
    color: #fff;

    display: grid;
    place-items: center;
}

nav a.icon-button:hover
{
    background-color: #090909;
}

main#projects-container
{
    padding: 1.5rem 2rem;
    max-width: 900px;
    margin: auto;
}

main#projects-container div.project-item div.clicker
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

span.ng,
span.mongo
{
    background-color: #3a0303;
}

span.ts,
span.exp
{
    background-color: rgb(5, 22, 78);
}

span.php
{
    background-color: rgb(61, 4, 99);
}

span.sql
{
    background-color: rgb(4, 75, 75);
}

span.html
{
    background-color: #8f2020;
}

span.css,
span.njs
{
    background-color: #033a20;
}

span.js
{
    background-color: #6e5c0b;
}

.figma-button
{
    background-color: rgb(117, 44, 160);
}

.figma-button:hover
{
    background-color: rgb(49, 4, 75);
}