/* GO UP BUTTON */

div.go-up-container
{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    transition: bottom .2s ease-in-out;
}

div.go-up-container.hide
{
    bottom: -4rem;
}

div.go-up-container a
{
    color: #fff;
    font-size: 2rem;

    padding: .5rem;
    border: solid 1px #fff7;
    border-radius: 10px;

    background-color: #131313;

    box-shadow: 2px 2px 0 #fff7;
}

/* SECTIONS AND SUBSECTIONS */

section.main > *
{
    font-family: 'Comfortaa', sans-serif;
}

section.main > .subsection
{
    height: 100%;
    padding: 0 2em;
}

section.main > .title-container,
section.main > .projects-container,
section.main > .contact-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section.main > .projects-container
{
    align-items: center;
}

section.main > .title-container h1
{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

section.main > .title-container h2
{
    color: #fff7;
    margin-bottom: 1.5rem;
}

section.main > .title-container p
{
    line-height: .7cm;
}

section.main > .projects-container a.button
{
    display: block;
    color: #fff;
    background-color: #fff2;

    margin: 1em 0;
    padding: .5em 1em;
    width: max-content;

    cursor: pointer;

    text-decoration: none;
}

section.main > .contact-container
{
    position: relative;
}

section.main > .contact-container h1,
section.main > .contact-container h2
{
    text-align: center;
}

section.main > .contact-container h2
{
    color: #fff7;
}

section.main > .contact-container .links
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    margin: 2rem auto;
    width: min-content;
}

section.main > .contact-container .links a
{
    color: #fff;
    text-decoration: none;

    margin: 1.5rem 0;

    font-size: 1.2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
}

section.main > .contact-container .links a span.text
{
    position: relative;
    color: #fff7;
}

section.main > .contact-container .links a span.text::before
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #131313;
    transform: scale(1);
    transition: transform .2s ease-in-out, top .2s ease-in-out, left .2s ease-in-out;
}

section.main > .contact-container .links a span.text::before
{
    transform: scale(.7);
    top: -80%;
    left: -15%;
    background-color: transparent;
}

section.main > .contact-container .links a span#github.text::before
{
    content: 'Github:';
}
section.main > .contact-container .links a span#email.text::before
{
    content: 'Email:';
}
section.main > .contact-container .links a span#fcc.text::before
{
    content: 'FreeCodeCamp:';
}

section.main > .contact-container .back-contact
{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width:1000px) {

    div.header nav#mobile
    {
        display: none;
    }

    div.header nav#desktop
    {
        display: block;
    }

    section.main > .subsection
    {
        max-width: 900px;
        margin: auto;
    }

    section.main > .title-container,
    section.main > .contact-container
    {
        margin: unset;
    }
    section.main > .contact-container
    {
        max-width: unset;
    }

    section.main > .title-container
    {
        padding-left: 10rem;
    }

    section.main > .title-container h1
    {
        font-size: 6rem;
    }

    section.main > .title-container p
    {
        font-size: 2rem;
        line-height: unset;
    }
}